@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root,
* {
  box-sizing: border-box;
}

:root {
  /* 1rem = 10px  */
  font-size: 62.5%;
  --primary: hsl(185, 75%, 39%);
  --dark-blue: hsl(229, 23%, 23%);
  --gray-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
  font-family: "Kumbh Sans", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background: var(--primary);
  padding: 0 2.4rem 0 2.5rem;
  background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
  background-position: bottom 45vh right 45vw, top 45vh left 45vw;
  background-repeat: no-repeat;
}

/* ====== Card Base ====== */
.user-card {
  width: 100%;
  max-width: 35rem;
  padding-bottom: 2.4rem;
  background: #fff;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-radius: 1.5rem;
  overflow: hidden;
  gap: 2.4rem;
  /* ====== Card Header ====== */
  /*  header */
  /* ====== Card - Primary Info ====== */
  /*  primary-info */
  /* ====== Card - Social Media Info ====== */
  /*  social-info-stats */
}

.user-card__header {
  display: grid;
  grid-template-rows: 8.6rem 5.4rem 4.8rem;
  grid-template-columns: 1fr;
  justify-items: center;
}

.user-card__header--bg-img-container {
  grid-row: 1/3;
  grid-column: 1/2;
  width: 100%;
  height: 100%;
}

.user-card__header--bg-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-card__header--profile-img {
  grid-row: 2/4;
  grid-column: 1/2;
  border-radius: 50%;
  overflow: hidden;
  border: 0.5rem solid #fff;
}

.user-card__primary-info {
  text-align: center;
  font-size: 1.8rem;
  color: var(--gray-blue);
}

.user-card__primary-info--user-name {
  font-weight: 700;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);
}

.user-card__primary-info--user-age {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--gray-blue);
}

.user-card__primary-info--user-location {
  font-size: 1.4rem;
  color: var(--gray-blue);
}

.user-card__social-info-stats {
  width: 100%;
  border-top: 1px solid #e8e9ec;
  padding: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-card__social-info-stats--inner-container {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: space-between;
  /*  stat */
}

.user-card__social-info-stats--inner-container .stat .stat-value {
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 0.9rem;
}

.user-card__social-info-stats--inner-container .stat .stat-category {
  font-size: 1rem;
  letter-spacing: 0.15rem;
  color: var(--gray-blue);
}

/*  user-card */
/*# sourceMappingURL=main.css.map */