* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #222;
  color: #fff;
}

.para4 {
  color:rgb(41, 145, 41)
}

.para5 {
  color:rgb(0, 119, 255)
}